<header>
    <nav style="  vertical-align: baseline; height: 120px;" class ="navbar navbar-expand-md navbar-dark bg-dark">
  
  <p class="float-right" style="padding-top: 60px; padding-left: 0px; text-shadow: 2px 2px 5px rgb(172, 154, 146);
  color:rgb(214, 127, 127);font-weight: bolder;font-size: 40px; align-content: center;">EMPLOYEE MANAGEMENT</p> 
    <ul class="navbar-nav">
     
  
    </ul>
  
    </nav>
    <br>
    <section>
   
      <div style="text-align:center; font: size 0.5cm;font-weight:bolder;font-style: oblique;">
        <img style="height: 500px; width:800px; align-self: auto;" src="https://thumbs.dreamstime.com/z/financial-concept-meaning-employee-management-phrase-piece-paper-financial-concept-meaning-employee-management-183913538.jpg">
        </div> 
        
      
    
    </section>
    </header> 
