<form #frmval=ngForm name="myform" class="form" (ngSubmit)="changePass(frmval.value)" class="form container">

    <div class="form-group">
        <label>NEW PASSWORD</label>
        <input type="text" name="password"  #password="ngModel" class="form-control"  pattern="^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$" ngModel required >
        <div *ngIf="password.touched && password.invalid">
            <div class="alert alert-danger" *ngIf="password.hasError('required')">This field is required</div>
            <div class="alert alert-danger" *ngIf="password.hasError('pattern')">Password should contain minimum 8 characters and atleaset one ,uppercase,lowercase,numbers and special characters</div>
        </div>
    </div>

    <table>
        <tr><td><button type="submit" class="btn btn-primary" [disabled]="frmval.invalid">Change</button></td>
            <br>
            <td><button type="button" class="btn btn-primary"  routerLink="/employee/profile">Back</button></td>
            <br>
            <td><button type="reset" class="btn btn-primary" >Reset</button><td>
        
        </td>
    
        </tr>
        </table>
    
    </form>

