<div class="loginBox"  style="height: 170px;width: 400px;border-style: inset;border-radius: 10px;border-width: 5px; margin-left:  550px ;">
    
    <form  class="form container">
        <table style="border: 1;">
            <tr>
        <label style="color: rgb(0, 0, 0);">Enter Employee Id:</label>
        <td><input type="text" class="txt txt-primary ml-id" name="empid"   placeholder="your Id here.. " [(ngModel)]="empid"></td>
        </tr>
        <br>
        <br>
        <tr>
        <label style="color: rgb(223, 31, 31);">Enter password:</label>
        <td><input type="password" class="txt txt-primary ml-id" name="password" placeholder="enter password"  [(ngModel)]="password"><br></td>
    </tr>
    <br>
       <tr><td><button type="submit" class="btn btn-primary" style="background-color:rgb(21, 235, 85); margin: right  50px;" (click)="checkEmpdata()" >Submit</button></td>
      <td><button type="reset" class="btn btn-primary" style="background-color:rgb(158, 180, 226); margin: right  50px;"  >Reset</button></td></tr> 
    
      
    </table>

    
        
    
    </form>
   
    </div>


